<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="bandApp">

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

 
  <link rel="stylesheet" href="static/css/band_styles.css" />
  <link rel="stylesheet" href="static/bower_components/ng-tags-input/ng-tags-input.min.css" />

  <!-- SPELLS -->
  <!--script src="static/bower_components/lodash/dist/lodash.min.js"></script-->
  <script src="static/bower_components/angular/angular.min.js"></script>
  <script src="static/bower_components/angular-route/angular-route.min.js"></script>
  <!--script src="static/bower_components/angular-typeahead/angular-typeahead.min.js"></script-->
  <script src="static/bower_components/ng-lodash/build/ng-lodash.min.js"></script>
  <script src="static/bower_components/ng-file-upload/ng-file-upload.min.js"></script>

  <script src="static/bower_components/jquery/dist/jquery.min.js"> </script>
  <script src="static/js/bootstrap.file-input.js"> </script>
 
  <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

  <script src="static/js/app.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">INDIZOLO MANAGER</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">    <i class="fa fa-home">    </i> Home</a>      </li>
        <li><a href="#bands">   <i class="fa fa-music">   </i> Bands</a>    </li>
        <li><a href="#about">   <i class="fa fa-shield">  </i> About</a>    </li>
        <li><a href="#contact"> <i class="fa fa-comment"> </i> Contact</a>  </li>
      </ul>
    </div>
  </nav>

  <div id="main">
    <!-- angular templating -->
        <!-- this is where content will be injected -->
  <div ng-view>sdsdf</div>
    
  </div>
  
  <div class="row">
  <footer class="text-center">
    indizolo(c)
  </footer>
  </div>
  
</body>

</html>


                