#banner { }

#bandsContainer { }

.btn_band { padding:20px;}

.listItem {
	padding: 20px ;
	cursor: pointer ;
	border: 1px solid #eee ;
	border-radius: 5px ;
 }

.bandName 	{ font-size:1em }
.bandCity 	{ color:green }
.bandStyle  { font-size: 10px ; color:orange}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}