<h3>Bands</h3>
<div class="row" id="bandsContainer">

	<div class="col-md-4">

		<div class="listItem" ng-repeat="band in bands | orderBy: 'name' " ng-click="setCurrentBand(band)">
			<!--span class="bandName">{{ $index }} : {{ band._id }}   </span-->
			<span class="bandName">{{ band.name }}   </span>
			<!--span class="bandCity"> {{ band.city } }   </span>
			<span class="bandStyle">{{ band.style }}  </span-->

			</div>

			<div class="btn_band">
				<a class="btn btn-primary" ng-click="createBand()">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>

		</div>

		<div class="col-md-6" ng-show="montreEdition">
			<form>

				<label class="control-label" for="inputTitle">Name</label>
				<input type="text" class="form-control" ng-model="currentBand.name"  ng-change="change()" />
				
				<label class="control-label" for="inputTitle">City</label>
				<input type="text" class="form-control" ng-model="currentBand.city"  ng-change="change()" />

				<label class="control-label" for="inputTitle">Abstract</label>
				<textarea type="text" class="form-control" ng-model="currentBand.abstract"  ng-change="change()" /></textarea>
				
				<label class="control-label" for="inputTitle">Contact</label> 
				<input type="text" class="form-control" ng-model="currentBand.contact" ng-change="change()" />
				<label class="control-label" for="inputTitle">facebook</label> 
				<input type="text" class="form-control" ng-model="currentBand.facebook" ng-change="change()" />
				<label class="control-label" for="inputTitle">twitter</label> 
				<input type="text" class="form-control" ng-model="currentBand.twitter" ng-change="change()" />
				<label class="control-label" for="inputTitle">google+</label> 
				<input type="text" class="form-control" ng-model="currentBand.google" ng-change="change()" />
				<label class="control-label" for="inputTitle">site web / blog</label> 
				<input type="text" class="form-control" ng-model="currentBand.google" ng-change="change()" />

				<!--input type="text" class="form-control" ng-model="currentBand.style" ng-change="change()"/--> 

				<!--js-tag js-tag-options="jsTagOptions" ></js-tag-->
				<tags-input ng-model="tags"></tags-input>
 				<!--p>Model: {{ tags }} </p-->

 				<div class="memberItem" ng-repeat="member in currentBand.members" ng-click="setCurrentMember(member)">
 					<span class="glyphicon glyphicon-user"> </span> <span> {{ member.name }} play {{ member.instrument }} </span>
 				</div>

 				<div ng-show="member">
 					<label class="control-label" for="inputTitle">Nom</label> 
 					<input type="text" class="form-control" ng-model="currentMember.name"         >
 					<label class="control-label" for="inputTitle">Instrument principal</label> 
 					<input type="text" class="form-control" ng-model="currentMember.instrument"   >	
 				</div>

				<div ng-show="album">
 					<label class="control-label" for="inputTitle">N_Série</label> 
 					<input type="text" class="form-control" ng-model="currentAlbum.serial_id"         >
 					<label class="control-label" for="inputTitle">Titre</label> 
 					<input type="text" class="form-control" ng-model="currentAlbum.title"   >	
 				</div>

 				<div class="btn_band" ng-init="disabled=false">
					
					<a class="btn btn-primary" ng-disabled="disabled" ng-click="updateBand()">
						<span class="glyphicon glyphicon-save"></span>
					</a>
					
					<a ng-show="poub" class="btn btn-primary" ng-click="addMember()">
						<span class="glyphicon glyphicon-user"></span>
					</a>

					<a  class="btn btn-primary" ng-click="addAlbum()">
						<span class="glyphicon glyphicon-cd"></span>
					</a>
					<a ng-show="poub" class="btn btn-danger" ng-click="deleteBand()">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>

 			</form>


 			<form ng-controller="uploadController">
			<label class="control-label" for="inputTitle">Photo</label> 
 			<input 
 			    class="form-control" 
                title="choisir un fichier" 
                type="file" 
                ngf-select 
                ng-model="file" 
                name="file" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="20MB" 
                />

            <!--img style="width:100px;" ng-show="!!file" ngf-thumbnail="file || '/thumb.jpg'"/>
            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
            
            < Multiple files
            <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
            Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
            
           <!--div class="btn_band" ng-init="disabled=true"-->
            <button type="submit" class="btn btn-primary" ng-click="submit()">envoyer l'image</button>
           <!--/div-->
           		</form>


			


	</div>

</div>
