<h3>Banners</h3>
<div class="row" id="bannerContainer">

	<div class="col-md-2" ></div>
	<!--div class="col-md-8" ng-controller="bannersController"-->
	<div class="col-md-8" >
		<button class="btn btn-primary" ng-click="addBanner()">add</button>
		<table class="table table-condensed" >
			<tr>
					<th>flyer</th>
					<th>flyer url</th>
					<th>titre</th>
					<th>abstract</th>
					<th>date</th>
					<th>edit</th>
				</tr>
			<tr ng-repeat="banner in banners">
				
				<td><img src="{{ banner.flyer }}" width="100px" /></td>
				<td><span editable-text="banner.flyer" 		e-form="rowform" e-required > {{ banner.flyer ||  empty }}</span></td>
				<td><span editable-text="banner.title" 		e-form="rowform" e-required > {{ banner.title ||  empty }}</span></td>
				<td><span editable-text="banner.abstract" 	e-form="rowform" e-required > {{ banner.abstract ||  empty }}</span></td>
				<td><span editable-text="banner.date" 		e-form="rowform" e-required > {{ banner.date ||  empty }} </span></td>
				<td style="white-space: nowrap">
					<!-- form -->	
					<form editable-form name="rowform" onaftersave="saveBanner(banner)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == banner">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
							save
						</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
							cancel
						</button>
					</form>

					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
						<button class="btn btn-danger" ng-click="removeUser($index)">del</button>
					</div>  
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-2" ></div>


</div>
